.button-blue {
  background-color: darkblue;
  margin-left: 200px;
  margin-top: 100px;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button-green {
  background-color: forestgreen;
  margin-left: 200px;
  margin-top: 100px;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button-red {
  background-color: darkred;
  margin-left: 200px;
  margin-top: 100px;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button-brown {
  background-color: #563709;
  margin-left: 200px;
  margin-top: 100px;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}

.background {
  background-image: url("../img/dark.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.center {
  text-align: center;
  padding-top: 25px;
  color: gold;
}

p.center {
  padding-top: 25px;
  font-size: 30;
}

span {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.showdefinition {
  display: none;
}

.showdefinition1 {
  display: none;
}

.showdefinition2 {
  display: none;
}

.showdefinition3 {
  display: none;
}

.showdefinition4 {
  display: none;
}

.showdefinition5 {
  display: none;
}

.showdefinition6 {
  display: none;
}

.showdefinition7 {
  display: none;
}

.showdefinition8 {
  display: none;
}

.showdefinition9 {
  display: none;
}

.showdefinition10 {
  display: none;
}

.showdefinition11 {
  display: none;
}

.showdefinition12 {
  display: none;
}

.showdefinition13 {
  display: none;
}

.showdefinition14 {
  display: none;
}

.showdefinition15 {
  display: none;
}

.showdefinition16 {
  display: none;
}

.showdefinition17 {
  display: none;
}

.showdefinition18 {
  display: none;
}
